* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: url(img/background.jpg);
    color: white;
}

nav {
    width: 20%;
    height: 100%;
    float: left;
    padding: 5px;
    background-color: white;
    border-right: 3px solid green;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 10px;
}

nav a {
    color: #ff00dd;
    text-decoration: none;
}

section {
    width: 75%;
    float: left;
    padding: 20px;
    border-left: 2px solid green;
}

section p {
    border: 2px solid #222;
    margin-bottom: 20px;
}

.headingW, .heading {
    background-color: green;
    padding: 10px;
    margin-bottom: 10px;
}

.heading {
    width: 60%;
    font-size: 20px;
}

.promo-photo {
    float: right;
    width: 20%;
}

section ul {
    padding-left: 20px;
}

section ul li {
    margin: 5px;
}

footer {
    clear: both;
    padding: 20px;
    text-align: center;
    border-top: 2px solid green;
}